<div id="menu">
    <img id="logo" src="/Atw/templates/img/logo2.png" alt="Around The World"/>
    <ul>
        <li>
            <a href="{{ urlFor('home') }}">Home</a>
        </li>
        <li>
            <a href="{{ urlFor('places_listing') }}">Places</a>
        </li>
        <li>
            <a href="{{ urlFor('profiles_listing') }}">Profiles</a>
        </li>
    </ul>
</div>