{% extends 'layout.twig' %}

{% block page_title %}
    Places
{% endblock %}

{% block content %}
    <h1>It's no place like here!</h1>
    <p><a href="{{ urlFor('places_listing') }}">Places list</a></p>    
{% endblock %}