{% extends 'layout.twig' %}

{% block page_title %}
    Profiles
{% endblock %}

{% block content %}
    <h1>It's no profile like here!</h1>
    <p><a href="{{ urlFor('profiles_listing') }}">Profiles list</a></p>    
{% endblock %}